@media screen and(min-width:480px) and(max-width:767px){
    .border{
        height:900px;
    }
}
img{
    float: left;
}
img.column{
    float:left;
}
.column{
    width:400px;
    float:left;
    font-size:17px;
}


.border{
    border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  height:900px;
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  font-family: sans-serif;
}
.column h2{
    color:maroon;
} 